<header class="bg-white shadow-md py-4">
    <div class="container mx-auto flex justify-between items-center px-4">
      <div class="flex items-center space-x-4">
        <img src="../../public/LogoTestManejo.svg" alt="Logo" class="w-55 h-12 animate-zoom-in">
        <h1 class="text-2xl font-semibold text-gray-800 animate-slide-in-right">Examen Teórico de Conducción</h1>
      </div>
      <a href="/login" class="text-lg font-medium text-white bg-blue-500 hover:bg-blue-600 px-6 py-2 rounded-md transition-colors duration-300">Login</a>
    </div>
  </header>
  